body {
  margin: 0;
  font-family: "Abel", sans-serif; /* Body text */
  background-color: var(--starlight); /* Light background */
  line-height: 1.6;
}

:root {
  --ttc-red: #af0106;
  --terracotta: #c74b31;
  --skyline: #28343b;
  --starlight: #fffbeb;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif; /* Headings */
  margin-bottom: 0.5em;

  letter-spacing: 1px; /* Adds a bit of spacing between the letters */
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

p {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  color: var(--terracotta);
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

nav {
  background-color: var(--starlight);
}

nav a div {
  font-size: 14px;
  padding: 5px;
  color: var(--skyline);
  font-family: "Bebas Neue", sans-serif;
}

nav a {
  color: var(--starlight);
  transition: color 0.3s;
}

nav a:hover {
  color: var(--ttc-red);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#mapContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
